/ConnectionFactory.class
/PersistenciaProduto.class
/TestaClasse.class
/TestaInsercao.class
/TestaInsercaoComParametro.class
/TestaInsercaoComProduto.class
/TestaListagem.class
/TestaPoolConexoes.class
/TestaRemocao.class
