body{

}

h1{
    padding-left: 20px;
}

.sobre{
    text-align: center;
    background-color: #CCCCCC;
    padding: 30px;
}

.foto{
    width:100%;
}

h3{
    text-align: center;
}

ul{
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    
}

em{
    font-size: 20px;
}

strong{
    color:#FF0000;
}

.beneficios{
    padding: 20px;
}

.imagem-beneficios{
    width: 50%;
}
